.event-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 30px auto; /* Increased top and bottom margin for spacing */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    background-color: #f9f9f9;
}

.event-form input {
    padding: 10px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #ddd;
}

.create-button {
    padding: 10px;
    font-size: 16px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.create-button:hover {
    background-color: #333;
}

.title {
    text-align: center;
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}
